<!doctype html>
<html lang="en">
{% load staticfiles %}
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Nick Allard</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="cover.css" rel="stylesheet">
  </head>

  <body class="text-center" style="background-color:lavender">

    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
      <header class="masthead mb-auto">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
          <a class="navbar-brand" href="{% url 'home' %}">Nick Allard</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation"></button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-item nav-link" href="{% url 'home' %}">Home</a>
              <a class="nav-item nav-link" href="https://www.linkedin.com/in/nicholas-allard-653943152/">LinkedIn</a>
              <a class="nav-item nav-link" href="https://www.facebook.com/nick.allard.391">Facebook</a>
              <a class="nav-item nav-link disabled" href="mailto:nickallard10@gmail.com">Email</a>
            </div>
          </div>
    </div>
        </nav>
        <br>
      </header>
      <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="experience">
        <div class="my-auto">
          <h2 class="mb-5">Education</h2>

          <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
              <h3 class="mb-0">University of California, Berkeley</h3>
              <div class="subheading mb-3">Bachelor of Arts, History</div>
              <p>Senior Thesis: How Vasily Chuikov restored Soviet morale at the Battle of Stalingrad, GPA:3.0 &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp;  </p>
            </div>
            <div class="resume-date text-md-right">
              <span class="text-primary">June 2014 - May 2018</span>
            </div>
          </div>
        </div>
      <br>
      <br>
      <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="experience">
        <div class="my-auto">
          <h2 class="mb-5">Work Experience</h2>

          <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
              <h3 class="mb-0">Administrative Assistant</h3>
              <div class="subheading mb-3">Cheasty, Cheasty, & Malek</div>
              <p>Answered telephone inquiries from clients, vendors and the public. Opened and properly distributed incoming mail.Greeted incoming customers in a professional manner and provided friendly, knowledgeable assistance. Corresponded with clients through email, telephone, or postal mail.  Maintained a clean reception area, including lounge and associated areas.</p>
            </div>
            <div class="resume-date text-md-right">
              <span class="text-primary">September 2017 - May 2018</span>
            </div>
          </div>
          <br>
          <br>
          <br>
          <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
              <h3 class="mb-0">Legal Assistant</h3>
              <div class="subheading mb-3">Allard Smith APLC</div>
              <p>Communicated pertinent information to clients via phone, email and mail.  Managed billable hour tracking, payroll, client invoicing and attorney schedules.  Coordinated office inventory by restocking supplies and placing purchase orders.  Answered telephone inquiries from clients, vendors and the public.  Produced legal documents such as briefs, pleadings and appeals.  Reviewed, edited and proofread legislation for proper grammar, spelling, punctuation and formatting.  Directed and scoordinated law office activity, including delivery of subpoenas. </p>
            </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">June 2016 - August 2017</span>
          </div>
        </div>
        <br>
      <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="experience">
        <div class="my-auto">
          <h2 class="mb-5">Skills</h2>

          <div class="resume-item d-flex flex-column flex-md-row mb-5"></div>
            <div class="resume-content mr-auto">
            </div>
            <p>Microsoft Office, Python, Django, HTML, Adobe, Research, Writing, Teamwork, Administrative Support</p>
        </div>
          <br>
          <br>
          <br>
      <footer class="mastfoot mt-auto">
        <div class="inner">
          <p>Copyright Nick Allard {% now "Y" %}</p>
        </div>
      </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>


